@use "../../assets/sass/variables" as *;

@media (min-width: 375px){
  .experience{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    background-color: $color-grey-light;
    .experience__wrapper{
      display: grid;
      grid-template-columns: auto;
      margin-bottom: 2rem;
    }
    .brief{
      background-color: $color-grey-light;
      font-size: 1rem;
      color: $color-black;
      font-weight: 600;
    }
    .nology{
      background-color: $color-grey-light;
      color: $highlight;
      font-weight: 700;
      font-size: 1.1rem;
    }
    strong{
      background-color: $color-grey-light;
      color: $highlight;
    }
  }
  
  .tech__stack{
    background-color: $color-grey-light;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr;
    align-content: space-evenly;
    
    h2 {
        text-transform: uppercase;
        margin: 1rem -2px 1rem 0;
        color: whitesmoke;
        font-size: 1rem;
    }
  
    i {
      color: whitesmoke;
      font-size: 2rem;
    }
  
    .tech__items{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      justify-items: center;
      align-items: center;
      border: 2px ridge $color-black;
      border-radius: 20px;
      padding-top: 1rem;
    }
  }
  
  .tech__label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .line{
      color: $color-black;
      display: block;
      border-width: 1px;
      margin-bottom: 1rem;
    }
  }
}

@media (min-width: 768px) {
  .experience{
    margin-top: 2rem;
    padding: 2rem;
    .experience__wrapper{
      margin-bottom: 4rem;
    }
    .brief{
      font-size: 1.5rem;
      font-weight: 600;
    }
    .nology{
      font-weight: 700;
      font-size: 1.8rem;
    } 
  }
  .tech__stack{
  background-color: $color-grey-light;
  width: 100%;
  display: grid;
  height: 700px;
  grid-template-rows: 1fr;
  align-content: space-evenly;
  h2 {
      text-transform: uppercase;
      letter-spacing: 2px;
      margin: 2rem -2px 2rem 0;
      color: whitesmoke;
      font-size: 1.5rem;
  }

  i {
    color: whitesmoke;
    font-size: 3rem;
  }

  .tech__items{
    width: 900px;
    height: 600px;
    margin: 25vh auto;
    padding: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
    border: 2px ridge $color-black;
    border-radius: 20px;
  }
}

.tech__label{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .line{
    color: $color-black;
    display: block;
    border-width: 1px;
    margin-bottom: 1rem;
  }
}

}


